<div class="login-container">
  <div id="loginToolBar">
    <h2 class="login-title">Acessar Conta</h2>

    <input
      type="text"
      name="usuario"
      [(ngModel)]="usuario.email"
      placeholder="Usuário"
      class="centralUser"
    />

    <input
      type="password"
      name="senha"
      [(ngModel)]="usuario.password"
      placeholder="Senha"
      class="centralPassword"
    />

    <button class="centralButton" (click)="login()">Entrar</button>

    <div class="create-account-section">
      <p>Não tem uma conta?</p>
      <button class="create-account-button" (click)="goToCreateAccount()">
        Criar Conta
      </button>
    </div>
  </div>
</div>
