#loginToolBar {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  background-color: #009bff;
  border-radius: 20px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.centralUser,
.centralPassword {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
}

.centralButton {
  width: 90px;
  height: 60px;
  border-radius: 20px;
  text-align: center;
}
