<div class="empresa-container">
  <!-- -------------------------------------- -->
  <!--   CARD DE IDENTIFICAÇÃO DA EMPRESA     -->
  <!-- -------------------------------------- -->
  <mat-card class="section-card">
    <div class="card-header">
      <h3>Identificação</h3>

      <button
        mat-mini-fab
        class="save-button"
        (click)="send()"
        [disabled]="empresaForm.invalid"
      >
        <span class="material-symbols-outlined"> edit </span>
      </button>
    </div>

    <mat-card-content>
      <form [formGroup]="empresaForm">
        <div class="form-grid">
          <!-- Razão social -->
          <mat-form-field appearance="outline">
            <mat-label>Razão Social</mat-label>
            <input matInput formControlName="razaoSocial" />
          </mat-form-field>

          <!-- Nome fantasia -->
          <mat-form-field appearance="outline" class="full-field">
            <mat-label>Nome Fantasia</mat-label>
            <input matInput formControlName="nomeFantasia" />
          </mat-form-field>

          <!-- CNPJ -->
          <mat-form-field appearance="outline">
            <mat-label>CNPJ</mat-label>
            <input matInput cnpjMask maxlength="18" formControlName="cnpj" />
          </mat-form-field>

          <!-- Email -->
          <mat-form-field appearance="outline" class="full-field">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- ----------------------------------------------------- -->
  <!--  AG-GRID + FORM DE USUÁRIO (CRIAR/EDITAR)            -->
  <!-- ----------------------------------------------------- -->

  <mat-card class="section-card">
    <div class="card-section-title-VinculatedUsers">
      <h3>Usuários Vinculados</h3>
    </div>

    <mat-card-content>
      <app-search-bar
        [fields]="[
          { key: 'name', label: 'Nome do usuário', placeholder: 'Pesquisar...' }
        ]"
        (search)="onSearch($event)"
      ></app-search-bar>

      <div class="ag-theme-alpine user-grid-container">
        <ag-grid-angular
          style="width: 100%; height: 100%"
          [columnDefs]="columnDefs"
          [rowModelType]="'infinite'"
          [cacheBlockSize]="pageSize"
          [pagination]="true"
          [paginationPageSize]="pageSize"
          (gridReady)="onGridReady($event)"
        ></ag-grid-angular>
      </div>

      <div class="card-section-title-VinculatedUsers">
        <h4>{{ selectedUser ? "Editar Usuário" : "Novo Usuário" }}</h4>
      </div>
      <form [formGroup]="usuarioForm">
        <div class="user-form-grid">
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Nome</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="password" />
            </mat-form-field>
          </div>
          <div class="radio-group-section">
            <div>
              <label class="radio-label">Status:</label>
              <mat-radio-group formControlName="status" class="radio-group">
                <mat-radio-button value="ATIVO">Ativo</mat-radio-button>
                <mat-radio-button value="INATIVO">Inativo</mat-radio-button>
              </mat-radio-group>
            </div>
            <div>
              <button
                class="save-button"
                mat-flat-button
                color="primary"
                (click)="saveUsuario()"
              >
                <span *ngIf="selectedUser" class="material-symbols-outlined">
                  edit
                </span>
                <span *ngIf="!selectedUser" class="material-symbols-outlined">
                  check
                </span>
              </button>
              <button
                mat-stroked-button
                class="cancel-button"
                *ngIf="selectedUser"
                (click)="cancelEdit()"
              >
                <span class="material-symbols-outlined"> close </span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
