#toolbar {
  height: 100vh;
  width: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #009bff;
  padding: 15px 10px;
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.toolbar-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.toolbar-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.material-symbols-outlined {
  font-size: 40px;
  color: white;
}

.buttonToolBar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background 0.3s ease;
  border-radius: 50%;
}

.buttonToolBar:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
