<div class="funcionario-page">
  <app-search-bar></app-search-bar>

  <div class="ag-theme-alpine table-container">
    <ag-grid-angular
      style="width: 100%; height: 600px"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [paginationPageSize]="15"
      [rowSelection]="'single'"
      [animateRows]="true"
      (rowClicked)="onRowClicked($event)"
    ></ag-grid-angular>
  </div>

  <!-- Botão flutuante -->
  <button
    mat-fab
    class="floating-button"
    color="primary"
    (click)="goToNew()"
    matTooltip="Adicionar novo funcionário"
  >
    <mat-icon class="material-symbols-outlined">add</mat-icon>
  </button>
</div>
