.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .funcionario-card {
    width: 400px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .status-container {
    margin-top: 10px;
  }
  
  .radio-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .botao-salvar {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  