/* 🩵 Corrige posição e cliques dos overlays (dialogs, menus, tooltips, etc.) */
.cdk-overlay-container {
  position: fixed !important;
  inset: 0 !important;
  z-index: 2000 !important;
  pointer-events: none; /* impede o container de capturar cliques */
}

.cdk-overlay-pane {
  position: fixed !important;

  left: 40% !important;

  z-index: 2100 !important;
  pointer-events: all; /* permite interação dentro do modal */
}

/* 🔹 Fundo do diálogo (escurecido atrás do modal) */
.cdk-overlay-backdrop {
  position: fixed !important;
  inset: 0 !important;
  background-color: rgba(
    0,
    0,
    0,
    0.45
  ) !important; /* fundo semi-transparente */
  z-index: 2000 !important;
  pointer-events: all; /* permite clique no backdrop pra fechar */
}

/* 🔹 Garante que o resto do app fique abaixo dos modais */
#conteudo-principal {
  position: relative;
  z-index: 1;
}
