.cdk-overlay-container,
.cdk-overlay-pane {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1000 !important;
}

mat-sidenav-container,
mat-drawer-container {
  transform: none !important;
}

body,
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

app-root {
  display: block;
  height: 100%;
}
