<div class="funcionario-container" *ngIf="funcionarioForm">
  <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
    <mat-card class="section-card">
      <div class="card-section-title">
        <h3>{{ isEditMode ? "Editar Funcionário" : "Novo Funcionário" }}</h3>
      </div>

      <mat-card-content>
        <div class="form-grid">
          <mat-form-field appearance="outline">
            <mat-label>Nome Completo</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input
              matInput
              formControlName="cpf"
              placeholder="000.000.000-00"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cargo</mat-label>
            <input matInput formControlName="position" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Horas Semanais</mat-label>
            <input matInput type="number" formControlName="hours" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Salário</mat-label>
            <input matInput type="number" formControlName="salary" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Data de Inativação</mat-label>
            <input matInput type="date" formControlName="inactivationDate" />
          </mat-form-field>
        </div>

        <div class="radio-group-section">
          <label class="radio-label">Status:</label>
          <mat-radio-group formControlName="status" class="radio-group">
            <mat-radio-button value="ATIVO">Ativo</mat-radio-button>
            <mat-radio-button value="INATIVO">Inativo</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="section-card">
      <div class="card-section-title">
        <h3>Dados Pessoais</h3>
      </div>

      <div class="dados-pessoais-container">
        <div class="dados-pessoais-campos form-grid">
          <mat-form-field appearance="outline">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput type="date" formControlName="birthDate" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Nacionalidade</mat-label>
            <input matInput formControlName="nationality" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>
        </div>

        <div class="dados-pessoais-toggles">
          <div class="radio-group-section">
            <label class="radio-label">Gênero:</label>
            <mat-radio-group formControlName="gender" class="radio-group">
              <mat-radio-button value="MASCULINO">Masculino</mat-radio-button>
              <mat-radio-button value="FEMININO">Feminino</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="radio-group-section">
            <label class="radio-label">Estado Civil:</label>
            <mat-radio-group formControlName="civilState" class="radio-group">
              <mat-radio-button value="SOLTEIRO">Solteiro(a)</mat-radio-button>
              <mat-radio-button value="CASADO">Casado(a)</mat-radio-button>
              <mat-radio-button value="DIVORCIADO"
                >Divorciado(a)</mat-radio-button
              >
              <mat-radio-button value="VIUVO">Viúvo(a)</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="section-card">
      <div class="card-section-title">
        <h3>Endereço</h3>
      </div>

      <div formGroupName="address" class="form-grid">
        <mat-form-field appearance="outline">
          <mat-label>Rua</mat-label>
          <input matInput formControlName="street" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Número</mat-label>
          <input matInput formControlName="number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Bairro</mat-label>
          <input matInput formControlName="district" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Estado</mat-label>
          <input matInput formControlName="state" maxlength="2" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput formControlName="cep" placeholder="00000-000" />
        </mat-form-field>
      </div>
    </mat-card>

    <div class="actions">
      <button
        mat-fab
        class="save-button"
        aria-label="Salvar Funcionário"
        [disabled]="funcionarioForm.invalid || loading"
        type="submit"
      >
        <mat-icon class="material-symbols-outlined">check</mat-icon>
      </button>
    </div>
  </form>
</div>
