<div id="outToolBar" class="col s6 offset-s6">
    <p>detalhes works!</p>
    <form [formGroup]="funcionarioForm">
        <p>Nome <input type="text" formControlName="nome"></p>
        <p>CPF <input type="text" formControlName="cpf"></p>
        <p>Cargo <input type="text" formControlName="cargo"></p>
        <p>Horas semanais <input type="number" formControlName="horasSemanais"></p>
        <p>Salario <input type="number" formControlName="salario"></p>
        <p>Ativo <input type="checkbox" formControlName="isEnable"></p>
    </form>
</div>